/*/////////// General Styles ///////////*/

.HomeContainer {
  display: flex;
  flex-direction: column;
  margin: 4rem var(--space-long) 0rem 18rem;
  font-family: monospace;
  width: auto;
  gap: 2rem;
}

.HomeTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--font-size-big);
  color: var(--background-letters);
  font-size: var(--font-size-big);
  width: 100%;
  max-width: var(--width-for-container);
}

.Avatar {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  filter: brightness(100%);
}

.Avatar:hover {
  transform: scale(1.05);
}

.AvatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 3rem;
}

.HabilitiesAboutMeContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*/ ////////// Media Queries ///////////*/

@media (max-width: 1100px) {
  .HomeTitles {
    font-size: var(--font-size-medium);
    gap: var(--space-long);
    max-width: var(--width-for-container-medium);
  }

  .AvatarContainer {
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .Avatar {
    width: 170px;
    height: 170px;
  }

  .HabilitiesAboutMeContainer {
    gap: var(--space-long);
  }
}

@media (max-width: 750px) {
  .HomeContainer {
    margin: 3rem 1rem 0rem 5rem;
    max-width: auto;
    align-items: center;
    gap: 1rem;
  }

  .AvatarContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .Avatar {
    width: 130px;
    height: 130px;
  }

  .HomeTitles {
    font-size: var(--font-size-small);
    align-items: center;
  }

  .HomeTitles h1 {
    text-align: center;
  }
}

@media (max-width: 430px) {
  .HomeTitles {
    font-size: var(--font-size-more-small-max);
  }

  .HomeContainer {
    gap: 0rem;
  }

  .AvatarContainer {
    gap: 0.5rem;
  }

  .Avatar {
    width: 80px;
    height: 80px;
  }
}
