.HomeContainer {
  display: flex;
  flex-direction: column;
  margin: var(--font-size-big) var(--font-size-more-small) 0 16rem;
  font-family: monospace;
  width: auto;
  gap: var(--font-size-small);
}

.HomeTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--font-size-small);
  color: var(--background-letters);
  font-size: var(--font-size-big);

  width: 100%;
  flex: 1;
}

.Avatar {
  height: 200px;
  width: 200px;
  border-radius: 120px;
}

.AvatarContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.HabilitiesAboutMeContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--space-xl);
}

@media (max-width: 1000px) {
  .HomeTitles {
    font-size: var(--font-size-medium);
    gap: var(--font-size-more-small);
    max-width: var(--width-for-container-medium);
  }

  .Avatar {
    width: 150px;
    height: 150px;
  }

  .HomeTitles {
    font-size: var(--font-size-medium);
  }
}

@media (max-width: 750px) {
  .HomeContainer {
    margin: var(--font-size-big) 0rem var(--font-size-more-small) 5rem;

    max-width: auto;
  }

  .Avatar {
    width: 130px;
    height: 130px;
  }

  .HomeTitles {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 460px) {
  .HomeContainer {
    margin-left: 4rem;
  }

  .HomeTitles {
    font-size: var(--font-size-more-small);
  }

  .Avatar {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 300px) {
  .HomeTitles,
  .AvatarContainer {
    font-size: var(--space-short);
  }
  .HomeTitles {
    font-size: var(--font-size-more-small-max);
  }
}
