.NavContainer {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  margin: auto;
  font-family: monospace;
  font-size: var(--font-size-medium);
  padding-left: var(--font-size-small);
  margin-right: 8rem;
  top: 0;
  bottom: 0;
  transition: width ease-in-out 0.4s;
}

.AsideMenu {
  height: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  cursor: pointer;
  text-wrap: nowrap;
  padding: var(--font-size-big);
  gap: var(--font-size-more-small);
  background-color: var(--background-componentes);
  border-radius: var(--font-size-small);
}

.AsideMenu a {
  text-decoration: none;
}

.item {
  height: auto;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  cursor: pointer;
  gap: var(--space-xl);
  padding: var(--font-size-small) 0;
  color: var(--background-letters);
  margin-left: 2px;
}

.item:hover {
  scale: 1.05;
}

.NavCollapsed {
  width: 5.6rem;
}

.NavExpanded {
  width: 15rem;
}

@media (max-width: 750px) {
  .NavContainer {
    font-size: 14px;
    padding-left: var(--font-size-more-small-max);
    height: calc(100% - var(--font-size-small));
  }

  .AsideMenu {
    padding: var(--font-size-more-small);
    gap: var(--space-long);
  }

  .item {
    gap: var(--font-size-more-small-max);
    padding: var(--font-size-more-small-max) 0;
    margin-left: 0px;
  }

  .NavCollapsed {
    width: 3rem;
  }

  .NavExpanded {
    width: 100%;
  }
}
