/*/////////// Containers Styles ///////////*/

.HablitiesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-xl);
  padding: var(--font-size-small) 0 0;
  margin-bottom: var(--space-xl);
  width: 100%;
}

.CardContainer,
.AboutMeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--font-size-small);
  font-size: var(--font-size-big);
  color: var(--background-letters);
  background-color: var(--background-componentes);
  padding: var(--font-size-small);
  border-radius: var(--font-size-small);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.AboutMeContainer {
  max-width: var(--width-for-container);
  width: 100%;
}

.CardsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--font-size-big);
}

/*/////////// Content Styles ///////////*/

.AboutMeContent {
  display: flex;
  flex-direction: column;
  gap: var(--font-size-big);
}

/*/////////// About Me Styles ///////////*/

.Titleh3 {
  text-wrap: nowrap;
  padding-bottom: var(--font-size-small);
  border-bottom: 2px solid var(--background-letters);
  text-align: center;
}

.Lenguajes {
  margin-left: var(--space-xl);
  width: fit-content;
}

.Lenguajes li:nth-child(1) {
  color: var(--html-font-color);
}
.Lenguajes li:nth-child(2) {
  color: var(--css-font-color);
}
.Lenguajes li:nth-child(3) {
  color: var(--js-font-color);
}
.Lenguajes li:nth-child(4) {
  color: var(--react-font-color);
}

.Contactos {
  display: flex;
  flex-wrap: wrap;
  padding: var(--font-size-more-small-max) 0rem;
  border-bottom: 1px solid white;
  justify-content: space-between;
  list-style: none;
}

.Contactos li {
  display: flex;
  gap: var(--font-size-big);
}

/*/////////// Cards ///////////*/

.CardContainer {
  width: 100%;
  max-width: 320px;
}

.Icons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--font-size-big);
  font-size: var(--font-size-big);
  justify-content: center;
}

/*/////////// Proyects ///////////*/

.SpanContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--font-size-small);
}

.Proyect {
  width: 100%;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: var(--space-long);
  text-decoration: none;
  color: var(--background-letters);
  padding: var(--font-size-small);
  border-radius: var(--font-size-more-small-max);
  transition: transform 0.2s ease, background-color 0.2s ease;
  border: 1px solid #f5f5f5;
}

.Proyect:hover {
  transform: scale(1.05);
  border: 1px solid #f5f5f5;
}

.textanimated {
  position: relative;
  transition: 0.4s ease-in-out;
}

.iconanimated {
  position: relative;
  transition: 0.3s ease-in-out;
}

.Proyect:hover .textanimated {
  transform: translateX(-200px);
}

.Proyect:hover .iconanimated {
  transform: translateX(-100px);
}

/*/////////// Formacion Styles ///////////*/

.Titleh4 {
  text-align: start;
  font-weight: 100;
  margin-bottom: var(--space-long);
  text-decoration: underline 1px;
}

@media (max-width: 1240px) {
  .CardContainer {
    max-width: var(--width-for-container);
  }
}

@media (max-width: 1100px) {
  .CardContainer,
  .AboutMeContainer {
    font-size: var(--font-size-medium);
    gap: var(--font-size-more-small-max);
  }

  .HablitiesContainer {
    gap: var(--font-size-small);
  }

  .Titleh3 {
    border-bottom: 1px solid var(--background-letters);
  }
}

@media (max-width: 750px) {
  .AboutMeContent,
  .CardContainer,
  .Titleh3,
  .Titleh4,
  .Icons p {
    font-size: var(--font-size-small);
  }

  .Contactos,
  .Contactos li:nth-child(2),
  .Icons {
    gap: var(--font-size-more-small-max);
  }

  .HablitiesContainer,
  .CardsContainer {
    gap: var(--font-size-small);
  }

  .Contactos {
    padding: var(--font-size-more-small-max) 0rem
      var(--font-size-more-small-max);
  }

  .Lenguajes {
    margin-left: var(--font-size-small);
  }

  .AboutMeContent {
    gap: var(--font-size-more-small-max);
  }

  .Titleh3 {
    padding-bottom: var(--font-size-more-small-max);
  }
}

@media (max-width: 430px) {
  .Titleh3,
  .Titleh4,
  .Icons p,
  .AboutMeContent {
    font-size: var(--font-size-more-small);
  }
}
