.AboutMeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--font-size-small) 0;
  font-size: var(--font-size-big);
  gap: var(--space-long);
  color: var(--background-letters);
  max-width: var(--width-for-container);
  padding-right: var(--font-size-big);
}

.AboutMeContainer h2 {
  width: 100%;
  padding-bottom: var(--space-short);
  border-bottom: 2px solid var(--background-letters);
}

.AboutMeContainer ul:nth-child(4) {
  margin-left: 1.5rem;
}

.Contactos {
  display: flex;
  flex-wrap: wrap;
  gap: var(--font-size-big);
  list-style: none;
}

.Contactos li svg:hover {
  scale: 1.2;
  cursor: pointer;
}

@media (max-width: 1120px) {
  .AboutMeContainer {
    max-width: var(--width-for-container-medium);
    font-size: var(--font-size-medium);
  }
}

@media (max-width: 750px) {
  .AboutMeContainer {
    max-width: var(--width-for-container-small);
    font-size: var(--font-size-small);
  }

  .AboutMeContainer ul:nth-child(4) {
    margin-left: 1rem;
  }

  .AboutMeContainer h2 {
    font-size: var(--font-size-small);
  }
}
